
    <!-- Feedback form -->
    <form class="form-horizontal" role="form" method="post">
        <div class="panel panel-default">
        <div class="panel-heading text-right">       
            <div class="text-left">
                <b>{{ (not id is empty) ? 'Endre tilbakemelding' : 'Ny tilbakemelding' }}</b>
                <div class="pull-right text-right">      
                    <b>Status</b> <span class="label label-primary">{{ (status.name is defined) ? status.name : 'Ny'}}</span>
                    <b>Ansvarlig</b> <span class="label label-primary">{{ (assigned.full_name_display is defined) ? assigned.full_name_display : 'Ikke tildelt' }}</span>
                </div>
            </div>  
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Emne</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Kort beskrivende tekst" 
                        value="{{ (subject is defined) ? subject }}" {{ not auth ?: "disabled" }}>
                {% if err.subject is defined %}
                    <p class="text-danger">{{err.subject}}</p>
                {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-4">
                    <select id="type" name="type" class="form-control" {{ not auth ?: "disabled" }}>
                    {% for item in types %}                    
                        <option value="{{item.id}}" {{(type == item.id) ? "selected"}}>{{ item.name}}</option>
                    {% endfor %}
                    </select>
                {% if err.type is defined %}
                    <p class="text-danger">{{err.type}}</p>
                {% endif %}
                </div>
                <label for="level" class="col-sm-2 control-label">Alvorlighetsgrad</label>
                <div class="col-sm-4">
                    <select id="level" name="level" class="form-control" {{ not auth ?: "disabled" }}>
                    {% for item in levels %}
                        <option value="{{item.id}}" {{(level == item.id) ? "selected"}}>{{ item.name}}</option>
                    {% endfor %}
                    </select>
                {% if err.level is defined %}
                    <p class="text-danger">{{err.level}}</p>
                {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Beskrivelse</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="4" id="description" name="description"
                        {{ not auth ?: "disabled" }}>{{(description is defined) ? description}}</textarea>
                {% if err.desc is defined %}
                    <p class="text-danger">{{err.desc}}</p>
                {% endif %}     
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Navn</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Ditt navn" 
                        value="{{ (name is defined) ? name }}" {{ not auth ?: "disabled" }}>
                    {% if err.name is defined %}
                        <p class="text-danger">{{err.name}}</p>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" 
                        value="{{ (email is defined) ? email }}" {{ not auth ?: "disabled" }}>
                    {% if err.email is defined %}
                        <p class="text-danger">{{err.email}}</p>
                    {% endif %}                        
                </div>
            </div>
            <div class="form-group">
                <label for="human" class="col-sm-2 control-label">Er du en robot?</label>
                <div class="col-sm-10">
                    <div id="g-recaptcha" class="g-recaptcha" data-size="normal" data-sitekey="{{constant('RECAPTCHA_SITE_KEY')}}"></div>
                {% if err.human is defined %}
                    <p class="text-danger">{{err.human}}</p>
                {% endif %}
                </div>
            </div>
            <!--div class="form-group">
                <div class="col-sm-12">
                    {{(result is defined) ? result|raw}}
                </div>
            </div-->
        {% if not comments is empty %}
            <div class="form-group">
                <label for="comments" class="col-sm-2 control-label">Comments</label>
                <div id="comments" class="col-sm-10">
                {% for comment in comments %}
                    <div class ="list-group-item">
                        <div class="list-group-heading">
                            <b>{{comment.user}}</b> <span class="label label-default pull-right">{{comment.created|date('d M Y H:i')}}</span>
                        </div><br/>
                        <div class="list-group-item-text">{{comment.html|raw}}</div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}

        </div>
        <div class="panel-footer">
            <div class="form-group">
                <div class="col-sm-12 text-left">
                    {{(result is defined) ? result|raw}}
                    <div class="text-right">
                        <a href="/feedback/new" class="btn btn-default" role="button">Ny tilbakemelding</a>
                        <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </div>
    </form>

